# Copy this file to .env for local development

POSTGRES_DB=car_service_db
POSTGRES_USER=car_service_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

FRONTEND_SECRET_KEY=change-this-frontend-secret
API_URL=http://127.0.0.1:8000

RENDER_EXTERNAL_URL=
